@import 'import';
@import 'reset';

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1rem;
}

.title {
  display: flex;
  align-items: center; 
  text-align: center;
  margin: o auto;
}

.title h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
 text-align: center;
 align-items: center;
 margin: auto;
}

.title span {
  color: $txt-primary-color; 
  font-size: 1.5rem;
}


.search-form {
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;

  .search-label {
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: #374151;
  }

  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
  }

  .search-wrapper {
      position: relative;
  }

  .search-icon {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      padding-left: 0.75rem;

      .search-icon-svg {
          width: 1rem;
          height: 1rem;
          fill: #6b7280;
      }
  }

  .search-input {
      width: 100%;
      padding: 1rem;
      padding-left: 2.5rem;
      border-width: 1px;
      border-color: #d1d5db;
      border-radius: 0.5rem;
      background-color: #f9fafb;
      font-size: 0.875rem;
      color: #374151;
      &::placeholder {
          color: #9ca3af;
      }
      &:focus {
          outline: 2px solid #3b82f6;
          border-color: #3b82f6;
      }
  }

  .search-btn {
      position: absolute;
      right: 0.625rem;
      bottom: 0.625rem;
      background-color: #2563eb;
      padding: 0.5rem 1rem;
      font-weight: 500;
      color: #fff;
      border-radius: 0.5rem;
      font-size: 0.875rem;
      border: none;
      cursor: pointer;
      &:hover {
          background-color: #1e40af;
      }
      &:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
      }
  }
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--background-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;

  img {
    width: 100%;
  }
}

.movie-info {
  color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;

  h3 {
    margin-top: 0;
  }

  span {
    background-color: var(--background-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;

    &.green {
      color: lightgreen;
    }

    &.orange {
      color: orange;
    }

    &.red {
      color: red;
    }
  }
}

.overview {
  background-color: $background-color;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;

  .movie:hover & {
    transform: translateY(0);
  }
}
